html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(181, 34, 27), rgb(55, 57, 102));
    color: #ffffff;
    min-height: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: transparent;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 50px;
    flex: 1;
    display: flex;
    align-items: center;
}

#home {
    display: flex;
    align-items: center;
}

#home img {
    width: 50%; /* Nimmt die linke Hälfte des Container-Bereichs ein */
    height: auto;
    border: solid black 2px;
}

#quotes {
    flex: 1;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background: transparent;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out; /* Dauer und Timing-Funktion für den Übergang */
}

.mybutton {
    --color: #ffffff;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.mybutton::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.mybutton::before {
    top: -1em;
    left: -1em;
}

.mybutton::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.mybutton:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}

.mybutton:hover {
    color: rgb(10, 25, 30);
}

.mybutton:active {
    filter: brightness(.8);
}
